.site-footer {
  background-image: linear-gradient(to top, #111110 0%, #111110 100%);
  clear: both;

  .social-icon{
    float: right;
    padding: 22px 15px;
  }
  .copyright {
    padding: 34px 15px;
    float: left;
    display: block;
    color: white;
    font-family: $second-font;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

}
